@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;700;800;900&display=swap");

body {
  font-family: "Montserrat", Verdana, sans-serif;
  color: rgb(33, 37, 41);
  max-width: 500px;
  margin: 0 auto;
}
h1 {
  margin: 5% 1% .5rem;
}
p {
  font-size: 14px;
  line-height: 1.5;
  margin: 0;
}
.row {
  margin: 5% 0;
}
.col {
  margin: 1%;
  padding: 15px 1px;
}
.temp-letter {
  font-weight: 400;
  text-decoration: none;
}
.a:hover {
  cursor: pointer;
}

h3 {
  margin: 2% 0;
}

a.active {
  color: rgb(33, 37, 41);
  cursor: default;
}

.weather-icon--forecast {
  margin: 3%;
}

#search-form {
  margin-bottom: .5rem;
}

.weather-icon--forecast {
  max-width: 100%;
}