@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;700;800;900&display=swap");

body {
  font-family: "Montserrat", Verdana, sans-serif;
  color: rgb(33, 37, 41);
  max-width: 500px;
  margin: 0 auto;
  background-image: url("https://images.unsplash.com/photo-1496450681664-3df85efbd29f");
}
h1 {
  margin: 5% 1% .5rem;
}
p {
  font-size: 15px;
  line-height: 1.5;
  margin: 0;
}
.row {
  margin: 5% 0;
}
.col {
  margin: 1%;
  padding: 15px 1px;
}
.temp-letter {
  font-weight: 400;
  text-decoration: none;
}
.a:hover {
  cursor: pointer;
}

h3 {
  margin: 2% 0;
}

a.active {
  color: rgb(33, 37, 41);
  cursor: default;
}
.forecast-line {
  width: 100%;
  
  
}
.forecast-line .row {
  margin: 1% 0;
  border: 1px gray solid;
  border-radius: var(--bs-border-radius);
}
.forecast-line .row .col {
  margin: 0;
  padding: 0;
  text-align: center;
}
.weather-icon--forecast {
  margin: 0;
  max-width: 45px;
}
.forecast-line-header {
  font-size: 20px;
  line-height: 3;
  text-align: left;
  padding-left: calc(var(--bs-gutter-x) * .5);
}
.weather-forecast {
  line-height: 4.2;
  text-align: right;
}

#search-form {
  margin-bottom: .5rem;
}



